#map-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-content{
  margin-top: 30px;
}

.location .combobox-input {
  width: 100%;
  opacity: 0.8;
  border-radius: 7px;
}

.map-container {
  text-align: left;
  margin: 30px;
}

.row-equal-height {
  display: flex;
  height: 400px;
}

.section-left {
overflow: scroll;
height:400px;
}

.row-equal-height {
display: flex;
}

.about-card {
  opacity: 0;
  animation: fade-in 1.5s ease-in-out forwards;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



.dash-heading{
  font-size:calc(20px + 1.5vw);
  font-weight: bold;
  letter-spacing: -.001em;
}

.info-col, .review-col, .map-col{
  background-color: #ffffff;
}

.map-col{
  border-left: 1px solid lightgray;
}

.dash-container{
  background-color: rgba(var(--bs-light-rgb));
  min-width: 300px;
}

.login-container, .signup-container, .edit-profile-container{
  overflow:hidden;
  min-width: 300px;
}

.login-container h1, .signup-container h1, .edit-profile-container h1, .edit-business-container h1{
  font-weight: bold;
}

.login-container, .signup-container{
  box-shadow: 9px 18px 28px -1px rgba(0,0,0,0.20);
  background-color: rgba(255, 255, 255, 0.7);
}

.edit-business-container{
  overflow:hidden;
  min-width: 350px;
}

.background-container {
  background-image: url("../src/assets/img/VendyBG.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}


.card-number {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  color: #E26D5C;
  background: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 10px;
  font-size: 18px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}


.home-business-background {
  background-image: url("../src/assets/img/LABG.jpg");
  height: 500px;
  width: 500px;
  border: 3px solid #000000;
}

.home-cover {
  background-image: linear-gradient(rgb(151, 94, 115), rgb(202, 72, 72), rgb(255, 167, 90), rgb(221, 221, 122));
  background-attachment: fixed;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.navbar-custom {
  display: flex;
  align-items: center;
  top: 0;
  z-index: 100;
  box-shadow: 0 3px 4px rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(10px);
}


.edit-btn{
  box-shadow: inset 0 0 0 0 #e17c94;
  -webkit-transition: ease-out 1s;
  -moz-transition: ease-out 1s;
  transition: ease-out 1s;
  border: 1px solid black !important;
}

.edit-btn:hover {
  /* box-shadow: inset 400px 0 0 0 rgb(236,132,124); */
  box-shadow: inset 0 100px 0 0 #df5535;
  color: white !important;
  border: 1px solid white !important;
}

.form-control{
  opacity: 0.8;
}

.form-control:hover, .combobox-input:hover{
  border: 1px solid black !important;
  opacity: 1;
  box-shadow:
      0 0 0px #df5535,
      0 0 1px #df5535,
      0 0 2px #df5535,
      0 0 3px #df5535,
      0 0 4px #fff,
      0 0 5px #fff,
      0 0 6px #fff,
      0 0 7px #fff;
}


.edit-headings{
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  letter-spacing: 3px;
}



