#map-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-content{
  margin-top: 30px;
}

.location .combobox-input {
  width: 100%;
}

.map-container {
  text-align: left;
  margin: 30px;
}

.row-equal-height {
  display: flex;
  height: 400px;
}

.section-left {
overflow: scroll;
height:400px;
}

.row-equal-height {
display: flex;
}

.about-card {
transition: all 0.2s ease-in-out;
}

.about-card:hover {
transform: translateY(-5px);
}

.dash-heading{
  font-size:calc(20px + 1.5vw);
  font-weight: bold;
  letter-spacing: -.001em;
}

.info-col, .review-col, .map-col{
  background-color: #ffffff;
}

.map-col{
  border-left: 1px solid lightgray;
}

.dash-container{
  background-color: rgba(var(--bs-light-rgb));
  min-width: 300px;
}

.login-container, .signup-container, .edit-profile-container{
  overflow:hidden;
  min-width: 300px;
}

.login-container h1, .signup-container h1, .edit-profile-container h1, .edit-business-container h1{
  font-weight: bold;
}

.login-container, .signup-container{
  box-shadow: 9px 18px 28px -1px rgba(0,0,0,0.20);
  background-color: rgba(255, 255, 255, 0.7);
}

.edit-business-container{
  overflow:hidden;
  min-width: 350px;
}

.background-container {
  background-image: url("../src/assets/img/VendyBG.png");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}


.card-number {
  position: absolute;

  z-index: 1;
  color: #E26D5C;
  background: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 10px;
  font-size: 18px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}